<div class="cards-container">
  <div class="card">
    <span class="card-title">Total de Cliente</span>
    <span class="card-number"> {{ filteredClients.length }}</span>
    <Button variant="ghost" size="sm" 
    data-bs-toggle="modal" 
    data-bs-target="#clientModal"  routerLink="/clientes" routerLinkActive="active">
      Agregar Cliente
    </Button>
  </div>
  <div class="card">
    <span class="card-title">Total de Contrato</span>
    <span class="card-number">{{ filtrarPorEstado('all').length }}</span>
  </div>
  <div class="card">
    <span class="card-title">Contracto</span>
    <span class="card-number warning">{{ filtrarPorEstado('Por vencer').length }}</span>
    <Button variant="ghost" size="sm" routerLink="/contrato">
      Ver Detalles
    </Button>
  </div>
</div>
<app-formulario-contrato [contratos]="contratos" [cargando]="cargando"></app-formulario-contrato>