.tabs {
    width: 100%;
    margin: 20px auto;
  }

  .tabs-labels {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    margin-bottom: 16px;
  }

  .tabs-labels label {
    padding: 10px 20px;
    background-color: #ff1212;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .tabs-labels label:hover {
    background-color: #ff2f2f;
  }

  .boton{
    width: 36px;
    height: 41px;

  }

  .tabs-content {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  .badge-custom {
    background-color: #d1fae5; /* Verde muy claro */
    color: #dbc70e; /* Verde oscuro */
    padding: 5px 10px;
    border-radius: 9999px; /* Para hacerlo totalmente redondeado */
    font-weight: bold;
    font-size: 0.9rem;
  }

  /* Estilos para la subida de archivos */
.file-name {
  font-size: 0.9em;
  color: #666;
  margin-left: 10px;
}

/* Estilos para los badges de estado */
.badge {
  padding: 0.5em 0.75em;
  border-radius: 4px;
}

/* Estilos para la tabla */
.table {
  vertical-align: middle;
}

/* Estilos para el botón de archivo */
.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}



  /* Mostrar contenido según tab activo */
  #tab-all:checked ~ #content-all,
  #tab-active:checked ~ #content-active,
  #tab-expiring:checked ~ #content-expiring,
  #tab-expired:checked ~ #content-expired {
    display: block;
  }

  /* Estilo de tab activo */
  #tab-all:checked ~ .tabs-labels label[for="tab-all"],
  #tab-active:checked ~ .tabs-labels label[for="tab-active"],
  #tab-expiring:checked ~ .tabs-labels label[for="tab-expiring"],
  #tab-expired:checked ~ .tabs-labels label[for="tab-expired"] {
    background-color: #007bff;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }

  /* Ocultar radios */
  .tabs input[type="radio"] {
    display: none;
  }
