<div class="main-header">

  <header class="header">
    <div class="container">
      <h1>Gestion de Contrato</h1>
      <nav>
        <ul>
          <li><a routerLink="/configuracion" routerLinkActive="active">Configuración</a></li>
          <button class="btn btn-primary boton-Modal absolute top-0 right-0 size-16 " data-bs-toggle="modal"
             data-bs-target="#nuevoContratoModal">
          <i class="bi bi-file-earmark-plus-fill boton-mpda;"></i>
        </button>
        </ul> 
      </nav>
    </div>
  </header>

  <main class="main">
    <router-outlet></router-outlet>
  </main>

  <footer class="footer">
    <div class="container">
      <p>&copy; {{ currentYear }} Registro De Contracto  {{ 'By:Hillarys' }} </p>
    </div>

    <!-- Modal para crear contrato -->
    <div class="modal fade" id="nuevoContratoModal" tabindex="-1" aria-labelledby="nuevoContratoModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="nuevoContratoModalLabel">Nuevo Contrato</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="crearContrato()">
              <div class="mb-3">
                <label for="clientName" class="form-label">Nombre Proveedor</label>
                <input type="text" id="clientName" name="clientName" class="form-control"
                  [(ngModel)]="nuevoContrato.clientName" required>
              </div>
              <div class="mb-3">
                <label for="clientEmail" class="form-label">Email Proveedor</label>
                <input type="email" id="clientEmail" name="clientEmail" class="form-control"
                  [(ngModel)]="nuevoContrato.clientEmail" required>
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Descripción Contrato</label>
                <textarea id="description" name="description" class="form-control"
                  [(ngModel)]="nuevoContrato.description" rows="3" required></textarea>
              </div>
              <div class="mb-3">
                <label for="startDate" class="form-label">Fecha Inicio</label>
                <input type="date" id="startDate" name="startDate" class="form-control"
                  [(ngModel)]="nuevoContrato.startDate" required>
              </div>
              <div class="mb-3">
                <label for="expirationDate" class="form-label">Fecha Vencimiento</label>
                <input type="date" id="expirationDate" name="expirationDate" class="form-control"
                  [(ngModel)]="nuevoContrato.expirationDate" required>
              </div>
              <div class="mb-3">
                <label for="numeroContrato" class="form-label">Número Contrato</label>
                <input type="text" id="numeroContrato" name="numeroContrato" class="form-control"
                  [(ngModel)]="nuevoContrato.numeroContrato" required>
              </div>


              <div class="mb-3" *ngIf="nuevoContrato.contractType">
                <label for="numeroContrato" class="form-label">Tipo de contrato</label>
                <select class="form-select" [(ngModel)]="nuevoContrato.contractType" name="contractType" required>
                  <option selected disabled>Seleccionar</option>
                  <option value="local">Locales</option>
                  <option value="internacional">Internacionales</option>
                  <option value="aseguradora">Aseguradora</option>
                </select>                
              </div>


              <div class="mb-3" *ngIf="nuevoContrato.owner">
                <label for="owner" class="form-label">Propietario Del contracto</label>
                <select class="form-select" [(ngModel)]="nuevoContrato.owner" name="owner" required>
                  <option selected disabled>Seleccionar</option>
                  <option value="ssv">ssv</option>
                  <option value="klarida">klarida</option>
                  <option value="abrah">abrah</option>
                  <option value="softexpert">softexpert</option>
                </select>                
              </div>


              <div class="mb-3">
                <label for="clienteEmail" class="form-label">Email Empresa</label>
                <input type="email" id="clienteEmail" name="clienteEmail" class="form-control"
                  [(ngModel)]="nuevoContrato.clienteEmail" required>
              </div>
              <div class="mb-3">
                <label for="clienteNombre" class="form-label">Nombre Empresa (Responsable)</label>
                <input type="text" id="clienteNombre" name="clienteNombre" class="form-control"
                  [(ngModel)]="nuevoContrato.clienteNombre" required>
              </div>
              <div class="mb-3">
                <label for="pdfFile" class="form-label">Archivo PDF</label>
                <input type="file" id="pdfFile" name="pdfFile" class="form-control" (change)="onFileSelected($event)" accept="application/pdf"  >
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Guardar Contrato</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>